<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/about2.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon" />

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- Icon Font Stylesheet -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/all.min.css">
    </head>
    <body>
        <div class="banner">
        <!-- <img src="../image/content1.jpg" alt="" class=""> -->
        <h2>Enhance Your Work Efficiency</h2>
        </div>
        <div class="container">
            <div class="slide1">
                <img src="../image/content2.jpg" alt="">
                <div class="right">
                    <h3>About us</h3>
                    <p>Welcome to DIRA, where innovation meets efficiency! We are a dynamic trio of developers from VTC Academy Da Nang, passionate about crafting user-friendly solutions for effective project management.</p>
                </div>
            </div>
            <div class="slide2">
                <h3 class="title">Services</h3>
                <div class="content">
                    <div class="contenttop">
                        <img src="../image/content3.svg" alt="" class="icon">
                        <div class="block"></div>
                        <p class="ptop">Flexibility</p>
                    </div>
                    <div class="contenttop">
                        <img src="../image/content4.svg" alt="" class="icon">
                        <div class="block"></div>
                        <p class="ptop">Task Management</p>
                    </div>
                    <div class="contentbottom">
                        <img src="../image/content5.svg" alt="" class="icon">
                        <div class="block"></div>
                        <p class="pbottom">User-Friendly Interface</p>
                    </div>
                    <div class="contentbottom">
                        <img src="../image/content6.svg" alt="" class="icon">
                        <div class="block"></div>
                        <p class="pbottom">Flexibility</p>
                    </div>
                </div>
            </div>
            <div class="slide3">
                <div>
                <div class="top">
                <div class="stats">
                    <img class="img-stats" src="../image/css-3-svgrepo-com 1.svg" alt="">
                    <div class="title-stats">
                        <div class="block"></div>
                        <p>CSS</p>
                    </div>
                </div>
                <div class="stats" >
                    <img class="img-stats" src="../image/stats2.png" alt="">
                    <div class="title-stats">
                        <div class="block"></div>
                        <p>Bootstrap 5</p>
                    </div>
                </div>
                <div class="stats">
                    <img class="img-stats" src="../image/html-5-svgrepo-com 1.svg" alt="">
                    <div class="title-stats">
                        <div class="block"></div>
                        <p>HTML5</p>
                    </div>
                </div>
                </div>
                
                
                <div class="bottom">
                <div class="stats">
                    <img class="img-stats" src="../image/laravel-svgrepo-com 1.svg" alt="">
                    <div class="title-stats">
                        <div class="block"></div>
                        <p>Laravel 10</p>
                    </div>
                </div>
                <div class="stats">
                    <img class="img-stats" src="../image/javascript-svgrepo-com 1.svg" alt="">
                    <div class="title-stats">
                        <div class="block"></div>
                        <p>Javascript</p>
                    </div>
                </div>
                <div class="stats">
                    <img class="img-stats" src="../image/stats6.png" alt="">
                    <div class="title-stats">
                        <div class="block"></div>
                        <p>MySQL</p>
                    </div>
                </div>  
                </div>
                </div>
                <div class="content">
                    <h3>the Project</h3>
                    <p>is a powerful work management platform primarily built using leading technologies, including Laravel, HTML, CSS, and JavaScript. The integration of these technologies creates a seamless and flexible user experience, allowing easy task management and team interaction.</p>
                    <button class="btn"><a href="#">GET STATED</a></button>
                </div>
            </div>
        </div>
        <div class="ads">
            <p>Discover the power of efficient work management and collaboration. Join us on this exciting venture as we continue to innovate and redefine how teams work together.</p>
        </div>
        <div class="container">
            <div class="slide4">
                <div class="team">
                    <h3>Our Team</h3>
                    <div class="name">
                        <div class="box">
                            <div class="block"></div>
                            <p style="color: var(--Primary, #2947A9);">All</p>
                        </div>
                        <div class="box">
                            <p>Hoàng Quốc</p>
                        </div>
                        <div class="box">
                            <p>Thiện Thắng</p>
                        </div>
                        <div class="box">
                            <p>Hoài Nam</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="card">
                        <img src="../image/cardimg.jpg" alt="">
                        <div class="info">
                            <h6>Hoàng Quốc (Team Lead)</h6>
                            <p>Providing leadership and technical expertise, Hoang Quoc is the driving force behind DIRA. With a keen eye for detail and a passion for creating innovative solutions, he ensures our platform exceeds expectations.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../image/cardimg.jpg" alt="">
                        <div class="info">
                            <h6>Hoàng Quốc (Team Lead)</h6>
                            <p>Providing leadership and technical expertise, Hoang Quoc is the driving force behind DIRA. With a keen eye for detail and a passion for creating innovative solutions, he ensures our platform exceeds expectations.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../image/cardimg.jpg" alt="">
                        <div class="info">
                            <h6>Hoàng Quốc (Team Lead)</h6>
                            <p>Providing leadership and technical expertise, Hoang Quoc is the driving force behind DIRA. With a keen eye for detail and a passion for creating innovative solutions, he ensures our platform exceeds expectations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="logo">
                <div class="content">
                    <img src="../image/Group.svg" alt="">
                    <h3>DIRA</h3>
                </div>
                <p>"Manage tasks easily and more flexibly than ever."</p>
            </div>
            <!-- <div class="block"></div> -->
            <div class="title">
                <div class="card">
                    <h4>About</h4>
                    <p>We are dedicated to revolutionizing how individuals and teams handle tasks and collaborate effectively. With a user-friendly interface, flexible customization, and real-time collaboration, DIRA is designed to enhance your productivity. Join us in redefining work management and making every project a success.</p>
                </div>
                <div class="card">
                    <h4>Contact</h4>
                    <p>Have questions or need assistance? We're here to help! Feel free to reach out to our dedicated support team for any inquiries, feedback, or assistance.
                        Support: hoangquoc.work@gmail.com
                        Phone: +84775772421
                        </p>
                </div>
                <div class="card">
                    <h4>Follow us</h4>
                    <img src="../image/instagram-1-svgrepo-com 1.svg" alt="">
                    <img src="../image/facebook-color-svgrepo-com 1.svg" alt="">
                </div>
            </div>
        </div>
    </body>
    </html>