<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <div class="image-container">
      <div class="overlay"></div>
      <img src="../image/startup-593341.jpg" alt="banner">
      <div class="text-container">
        <h2>Who we are</h2>
        <p>Students, programmers, thinkers.</p>
      </div>
    </div>
    <div class="container">
        <div class="boxx">
        <div class="slide2">
            <span>About Us --</span>
            <h1>Welcome to DIRA - Do It Right Away!</h1>
            <p>We believe that every job counts and every second counts. That's why DIRA was created – to help you manage and organize your work efficiently and quickly.            </p>
            <p>DIRA is not just a task management tool, but a companion teammate, providing convenience and flexibility in your daily work. We pride ourselves on providing a simple, powerful, and intuitive platform that helps you focus on what matters most without getting lost in the details.</p>
        </div>
        <div> <img class="boximg" src="../image/about.png" alt=""></div>
        </div>
        <div class="slide1">
            <div>
                <span>Our Team</span>
                <h1 class="text-center mb-5">Our Team Members</h1>
            </div>
            <div class="content">
            <div class="member">
                <img class="avt" src="https://trello.com/1/cards/649053010c7cf7843f4d8154/attachments/649053791998de71c367c27c/previews/649053791998de71c367c2cf/download/288833736_1442286016216316_5659101933587280407_n.jpg" alt="">
                <p class="name">Nguyễn Thiện Thắng</p>
                <div class="d-flex justify-content-center p-4">
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="member">
                <img class="avt" src="https://trello.com/1/cards/6564093eb638af4b0e7caf90/attachments/6564095e650bb65a0a874100/previews/6564095f650bb65a0a8741b3/download/kk.jpg" alt="">
                <p class="name">Phan Hoài Nam</p>
                <div class="d-flex justify-content-center p-4">
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="member">
                <img class="avt" src="https://trello.com/1/cards/64905302aa7f68815e672311/attachments/64905519af849d377e6d5257/previews/6490551baf849d377e6d53cd/download/image.png" alt="">
                <p class="name">Nguyễn Minh Hoàng Quốc</p>
                <div class="d-flex justify-content-center p-4">
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square mx-1" href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            </div>
        </div>
        <div class="boxx">
        <div> <img class="boximg" src="../image/about.png" alt=""></div>  
        <div class="slide2">
            <h1>Why choose DIRA?</h1>
            <p>Easy to Use: The user-friendly and easy-to-use interface helps you get started right away without learning how to use it.</p>
            <p>Optimize Performance: DIRA helps you organize your work intelligently, optimize your time, and boost productivity.</p>
            <p>Flexible Integration: Integrate a variety of features to meet all your needs, from project management to personal work tracking.</p>
            <p>Safety and Security: We put the safety and security of your information first, ensuring that all data is comprehensively protected.</p>
        </div>
        </div>
    </div>
  </body>
</html>