<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/contact2.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon" />

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- Icon Font Stylesheet -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/all.min.css">
    </head>

    <body>
        <div class="container">
            <div class="content">
                <div class="slide_boder1">
                    <div class="slide1">
                        <img src="../image/slide1.jpg" alt="" class="slide_img">
                        <div class="slide_content">
                            <span class="slide_span">Welcome to DIRA</span>
                            <h3 class="slide_title">Manage tasks easily and more flexibly than ever.</h3>
                            <button class="slide_btn"><a href="#">Discover More</a></button>
                        </div>
                    </div>
                </div>

                <div class="slide_boder2">
                    <div class="slide_top2">
                        <div class="slide_left">
                            <div class="block"></div>
                            <img src="../image/slide2.png" alt="" class="slide_img">
                        </div>
                        <div class="slide_right">
                            <h3>Why Choose Us?</h3>
                            <ul>
                                <li>eamlessly organize and prioritize tasks to keep your projects on track.</li>
                                <li>Foster teamwork with real-time collaboration features for enhanced communication.</li>
                                <li>Customize boards and workflows to adapt to your unique project requirements.</li>
                                <li>Intuitive design ensures a pleasant experience for users of all skill levels.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="slide_bottom2_boder">
                        <div class="slide_bottom2">
                            <h3>Wellness, Quality, Flexibility</h3>
                            <p>We're always here to listen and assist you. Feel free to get in touch with us for more information or to address any inquiries you may have.</p>
                            <button class="slide_btn"><a href="#">Go to Contact Form</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide3">
            <img src="../image/slide3.jpg" alt="" class="slide3_img">
        </div>
        <div class="container">
            <div class="slide4">
                <div class="slide_left">
                    <div class="slide_title">
                        <h3>Contact Us</h3>
                        <p>We appreciate your interest in DIRA. Let us be your reliable companion in your work.</p>
                    </div>
                    <div class="slide_content">
                        <p><i class="fa-solid fa-phone"></i>+84 775771042</p>
                        <p><i class="fa-regular fa-envelope"></i>diraproject@gmail.com</p>
                    </div>
                </div>
                <div class="slide_right">
                    <form id="contact" action="" method="post">
                      <fieldset>
                        <input class="nhap" placeholder="Enter your name" type="text" tabindex="1" required autofocus>
                      </fieldset>
                      <fieldset>
                        <input class="nhap" placeholder="Enter your email" type="email" tabindex="2" required>
                      </fieldset>
                      <fieldset>
                        <input class="nhap" placeholder="Enter your phone number" type="number" tabindex="3" required>
                      </fieldset>
                      <fieldset>
                        <textarea class="nhap" placeholder="Content’s contact" tabindex="4" required></textarea>
                      </fieldset>
                      <fieldset>
                        <button name="submit" type="submit" id="contact-submit" class="slide_btn"><p>Submit</p></button>
                      </fieldset> 
                      </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="logo">
                <div class="content">
                    <img src="../image/Group.svg" alt="">
                    <h3>DIRA</h3>
                </div>
                <p>"Manage tasks easily and more flexibly than ever."</p>
            </div>
            <!-- <div class="block"></div> -->
            <div class="title">
                <div class="card">
                    <h4>About</h4>
                    <p>We are dedicated to revolutionizing how individuals and teams handle tasks and collaborate effectively. With a user-friendly interface, flexible customization, and real-time collaboration, DIRA is designed to enhance your productivity. Join us in redefining work management and making every project a success.</p>
                </div>
                <div class="card">
                    <h4>Contact</h4>
                    <p>Have questions or need assistance? We're here to help! Feel free to reach out to our dedicated support team for any inquiries, feedback, or assistance.
                        Support: hoangquoc.work@gmail.com
                        Phone: +84775772421
                        </p>
                </div>
                <div class="card">
                    <h4>Follow us</h4>
                    <img src="../image/instagram-1-svgrepo-com 1.svg" alt="">
                    <img src="../image/facebook-color-svgrepo-com 1.svg" alt="">
                </div>
            </div>
        </div>
    </body>
</html>
