@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
html{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
}
.folders{
    margin-left: 22px;
    width: fit-content;
    margin-top: 57px;
}
.dragging{
    opacity: 30%;
}
.workspace-title{
    display: inline-block;
    width: 317px;
    justify-content: center;
    border-bottom: 0.4px solid #00000080;
    padding-bottom: 5px;
}
.workspace-title h2{
    float: left;
    margin: 0;
    height: 29px;
    font-size: 2rem;
}
.workspace-title img{
    height: fit-content;
    float: right;
    margin-right: 13px;
    cursor: pointer;
}
.workspace{
    overflow: hidden;
}
.workspace-container{
    display: block;
    cursor: pointer;
    transition: 4s linear;
}
.workspace-container .item{
    display: flex;
    width: 100%;
    align-items: center;
    height: 57px;
    font-size: 1.6rem;
    margin: 5px 0 0 0;
    border-radius: 10px;
}
.workspace-container .item:hover{
    background-color: #D4D4D4;
}
.workspace-container .item .square{
    width: 27px;
    height: 27px;
    margin-left: 13px;
}
.workspace-container .item h3{
    margin-left: 13px;
    width: 100%;
}
.workspace-container .item .arrow{
    margin-right: 14px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}
.workspace-container .item .arrow.active{
    transform: rotate(180deg);
}
.sub-items{
    display: flex;
    align-items: center;
    margin: 5px 0 0 82px;
    height: 0px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.sub-items .icon{
    margin-left: 18px;
    height: 20px;
    width: 23px;
}
.sub-items .item-name{
    margin-left: 21px;
    font-size: 1.6rem;
    width: 100%;
}
.sub-items .item{
    cursor: pointer;
    border-radius: 10px;
}
.sub-items .item.active{
    background-color: #E7E7E7;
}
.sub-items .item:hover{
    background-color: #E7E7E7;
}

.workspace{
    width: 100%;
    margin-left: 75px;
    margin-top: 36px;
    height: fit-content;
}
.workspace-header{
    display: flex;
    width: 95%;
    border-bottom: 0.4px solid #00000080;
    font-size: 2.5rem;
    padding-bottom: 24px;
}
.workspace-header > div{
    margin-left: 20px;
}
.workspace-header .avatar{
    width: 69px;
    height: fit-content;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}
.workspace-header .ability{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    opacity: 50%;
}
.workspace-header .ability img{
    width: 17px;
    height: 20px;
    margin-right: 8px;
}
.workspace-header .workspace-name button{
    margin-left: 16px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
}
.workspace-header .workspace-name input{
    height: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

._container{
    font-size: 2rem;
    height: fit-content;
}
._container .title{
    display: flex;
    align-items: center;
    margin-top: 23px;
}
._container .title img{
    margin-right: 20px;
    width: 35px;
    height: 31px;
}
.project-list{
    margin-top: 24px;
    font-size: 0;
    display: block;
    white-space: nowrap;
    text-wrap: nowrap;
    overflow-x: scroll;
}
.project-list .item{
    display: inline-block;
    font-size: 1.7rem;
    color: #FFFFFF75;
    width: 200px;
    aspect-ratio: 4 / 3;
    border-radius: 20px;
    background-color: #0024A5;
    position: relative;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.project-list .item .progress-bar{
    position: absolute;
    bottom: 37px;
    left: 50%;
    border-radius: 10px;
    height: 10px;
    width: 80%;
    background: linear-gradient(90deg, #FDBD19 10%, #D9D9D9 0%);
    transform: translateX(-50%);
}
.project-list .item .progress-percent{
    position: absolute;
    bottom: 14px;
    right: 14px;
    font-size: 1rem;
    color: #FFFFFF;
}
.project-list .item span{
    top: 15px;
    left: 20px;
    position: absolute;
}
.project-list .item.button{
    font-size: 2.5rem;
    position: relative;
}
.project-list .item.button span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}
.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.workspace-name form{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.workspace-name form .button{
    display: flex;
    justify-content: end;
    width: 100%;
}
.workspace-name form .button button{
    padding: 4px;
    border-radius: 4px;
}
.workspace-name form .button #save{
    background-color: green;
}
.workspace-name form .button #cancel{
    background-color: whitesmoke;
}